<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'music/style.css' %}">
</head>
<body>

{% block body %}{% endblock %}
<a href="{% url 'part:part_add' %}">Add Part</a>
</body>
</html>