{% extends 'part/base.html' %}


{% block body %}
    <ul>

        {% if object_list %}
            <h3>Parts</h3>
            {% for part in part_list %}
                <div class="img">
                    <img src="{{ part.img_link.url }}" alt="some-img">
                </div>
                <li>
                    <a href="{% url 'part:part_detail' part.id %}">{{ part.first_prop }}</a>
                    <form action="{% url 'part:part_delete' part.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="part_id" value="{{ part.id }}">
                        <br>
                        <button type="submit">
                            Delete
                        </button>
                    </form>
                </li>
            {% endfor %}

        {% else %}
            <li><h2>You dont have any parts</h2></li>
        {% endif %}

    </ul>
{% endblock %}
