{% extends 'part/base.html' %}

{% block body %}
    <form action="{% url 'part:part_add' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'part/form-template.html' %}
        <button type="submit">Submit</button>
    </form>
{% endblock %}