{% extends 'part/base.html' %}

{% block body %}
    <h1>Create an account</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% include 'part/form-template.html' %}
        <button type="submit">Submit</button>
    </form>
{% endblock %}