<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PriceGrab{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="">
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>