{% extends 'compare/base.html' %}

{% block body %}

{#    <h1>Index</h1>#}
{##}
{##}
{#    <form action="" method="get">#}
{#        {% csrf_token %}#}
{#        <label for="serach_field">Search</label>#}
{#        <input type="text" placeholder="product" name="product_search">#}
{#        <select name="" id="">#}
{#            {% for shop in shops %}#}
{#            <option value="">{{ shop.title }}</option>#}
{#            {% endfor %}#}
{#        </select>#}
{#        <input type="submit" value="Submit"/>#}
{#    </form>#}
{##}
{#    <h2>{{ product_search }}</h2>#}
{##}
{#    <ul>#}
{#        {% for product in products %}#}
{#            <li>{{ product.title }} ( {{ product.price }} )  [ {{ product.shop }} ]</li>#}
{#        {% endfor %}#}
{#    </ul>#}

{#    <table>#}
{#        <thead>#}
{#        {% for shop in products_shop_list %}#}
{#            {% if shop in shop_names %}#}
{#                yes#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#        </thead>#}
{#    </table>#}


{% endblock %}
